wf50.json
{
    "name": "MVP_0730",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "=User message: {{ $json.chatInput }}\n\nYou are Rex, the ultimate MoTA cannabis receipt analyzer! I'm specialized in tracking ONLY MoTA brand products for customer rewards and budtender attribution.\n\n**MY CORE MISSION:**\n🎯 **MoTA Products ONLY** - I analyze receipts but ONLY track, calculate, and award points for MoTA brand products\n🏪 **Store Analysis** - Extract store names, addresses, budtender names, customer information\n👤 **Customer Rewards** - Calculate points ONLY from MoTA products (1 point per $1 spent on MoTA)\n💰 **MoTA Financial Analysis** - Calculate totals ONLY from MoTA products, ignore all other brands\n📊 **Database Management** - Update customer and budtender records with MoTA sales data\n\n**CRITICAL RULES:**\n- ❌ IGNORE all non-MoTA products (Stizzy, Raw Garden, etc.) - they don't count for points\n- ✅ ONLY count MoTA products for point calculation\n- ✅ Calculate points: EXACTLY 1 point per $1 spent on MoTA products ONLY\n- ❌ NO BONUSES - No bonus points for flower products or purchase amounts\n- ❌ NO ADDITIONAL POINTS - Only the base 1 point per $1 on MoTA products\n\n**CRITICAL CALCULATION RULES:**\n- **CUSTOMER POINTS**: When updating existing customers, ALWAYS ADD new points to existing Total_Points\n  - Example: If customer has 1000 points and earns 65 new points → NEW_TOTAL = 1000 + 65 = 1065\n- **BUDTENDER SALES**: When updating existing budtenders, ALWAYS ADD new sales to existing Total_Sales_Attributed\n  - Example: If budtender has 1000 sales and gets 65 new sales → NEW_TOTAL = 1000 + 65 = 1065\n- **NEVER REPLACE** existing values - always calculate: EXISTING_VALUE + NEW_VALUE = UPDATED_TOTAL\n\n**SIMPLIFIED WORKFLOW:**\n1. **Analyze Receipt** - Extract customer info, budtender, dispensary\n2. **Filter MoTA Products** - Identify ONLY MoTA products, ignore everything else\n3. **Calculate MoTA Points** - Points = FLOOR(MoTA_total_spent) - NO BONUSES\n4. **Process Database Updates** - Use the pre-configured tools to update data\n5. **Send Confirmation** - Email customer with MoTA points earned\n\n**TOOL USAGE INSTRUCTIONS:**\n- All Google Sheets tools are pre-configured with static data\n- Use 'Search Customer' to find existing customer\n- Use 'Update Customer Points' to update existing customer with new total\n- Use 'Create New Customer' only for new customers\n- Use 'Search Budtender' to find existing budtender\n- Use 'Update Budtender Sales' to update existing budtender\n- Use 'Create New Budtender' only for new budtenders\n- Send Gmail with purchase summary\n\n**IMPORTANT NOTES:**\n- Focus on MoTA product identification and point calculation\n- All database operations use pre-configured static values\n- Points are CUMULATIVE - you must calculate new totals correctly\n- Only MoTA products count for points and sales attribution\n- Provide clear breakdown of MoTA products found and points earned\n- NO BONUS CALCULATIONS - Simple 1 point per $1 spent on MoTA products\n\nJust upload a receipt image and I'll analyze it for MoTA products only!",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          -440,
          60
        ],
        "id": "ba030227-175e-4241-b092-f6a77226237d",
        "name": "Rex AI Agent"
      },
      {
        "parameters": {
          "model": "anthropic/claude-3.5-haiku",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -420,
          440
        ],
        "id": "e2ea8f7f-df4b-436a-bec0-66d3b3c0b4a8",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "daclOezIY0qSdW4Z",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
          "subject": "MoTA Rewards Points Earned!",
          "emailType": "text",
          "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `this is an update for a rewards program the customer has joined, we are Mota, the customer has purchased our products and sent in a photo of the receipt. We want to make sure this doesn't get stuck in a spam filter so no emojis etc, act as Luis head of rewards program for Mota\n\nHello (customername) ! Great news! You've earned Mota Rewards points from your recent purchase at Fire House Inc. Mota Products Purchased:- Total Mota spent: $XX- Mota Points earned: 65 points, your balance is XX Points, Your budtender (budtenders name here) helped you with this purchase. Thanks for choosing Mota! Luis - Mota Rewards Team`, 'string') }}",
          "options": {
            "senderName": "Luis - MoTA Rewards"
          }
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "position": [
          -160,
          440
        ],
        "id": "3ab2c680-6857-4bbc-8208-ee6c3681680a",
        "name": "Gmail",
        "webhookId": "883b3d0b-7efa-4fdf-abba-f8e325970503",
        "credentials": {
          "gmailOAuth2": {
            "id": "BvZyBEwmYVeo2pxs",
            "name": "Gmail account 2"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Search for existing customer by email in CUSTOMERS sheet. Use this FIRST to check if customer exists before creating or updating.",
          "documentId": {
            "__rl": true,
            "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
            "mode": "list",
            "cachedResultName": "Mota Rewards Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "CUSTOMERS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Email",
                "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          100,
          620
        ],
        "id": "a1ad03b0-fa75-4685-b161-b1ff920d9aff",
        "name": "Search Customer",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Update existing customer's points by finding them by email and updating their Total_Points with the new cumulative total.",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
            "mode": "list",
            "cachedResultName": "Mota Rewards Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "CUSTOMERS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "First_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name__using_to_match_', ``, 'string') }}",
              "Last_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}",
              "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
              "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
              "Total_Points": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Points', ``, 'string') }}",
              "Last_dispensary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_dispensary', ``, 'string') }}",
              "Last_budtender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_budtender', ``, 'string') }}"
            },
            "matchingColumns": [
              "First_Name"
            ],
            "schema": [
              {
                "id": "First_Name",
                "displayName": "First_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Last_Name",
                "displayName": "Last_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Total_Points",
                "displayName": "Total_Points",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last_dispensary",
                "displayName": "Last_dispensary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last_budtender",
                "displayName": "Last_budtender",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "error",
                "displayName": "error",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "message",
                "displayName": "message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "operation",
                "displayName": "operation",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "output",
                "displayName": "output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "myNewField",
                "displayName": "myNewField",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          460,
          620
        ],
        "id": "b0a5c31f-f018-498f-89a9-3963dcfc2f34",
        "name": "Update Customer Points",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Create new customer in CUSTOMERS sheet. Use this ONLY when Search Customer tool finds no existing customer.",
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
            "mode": "list",
            "cachedResultName": "Mota Rewards Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "CUSTOMERS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "First_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name', ``, 'string') }}",
              "Last_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}",
              "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
              "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
              "Total_Points": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Points', ``, 'string') }}",
              "Last_dispensary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_dispensary', ``, 'string') }}",
              "Last_budtender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_budtender', ``, 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "First_Name",
                "displayName": "First_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last_Name",
                "displayName": "Last_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Total_Points",
                "displayName": "Total_Points",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last_dispensary",
                "displayName": "Last_dispensary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last_budtender",
                "displayName": "Last_budtender",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "error",
                "displayName": "error",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "message",
                "displayName": "message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "operation",
                "displayName": "operation",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "output",
                "displayName": "output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "myNewField",
                "displayName": "myNewField",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          280,
          620
        ],
        "id": "dc5c8b24-2334-491d-804c-5b1205f3593f",
        "name": "Create New Customer",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Search for budtender in Budtenders sheet by first name and dispensary. Use this to verify budtender exists before updating sales attribution.",
          "documentId": {
            "__rl": true,
            "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
            "mode": "list",
            "cachedResultName": "Mota Rewards Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 992947458,
            "mode": "list",
            "cachedResultName": "Budtenders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=992947458"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "First_Name",
                "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
              },
              {
                "lookupColumn": "Dispensary",
                "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values1_Value', ``, 'string') }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          80,
          420
        ],
        "id": "a8a02ccc-f07a-425c-a39a-73f1d5e553dd",
        "name": "Search Budtender",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Update budtender's Total_Sales_Attributed by finding them by first name and dispensary, then updating with new cumulative total.",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
            "mode": "list",
            "cachedResultName": "Mota Rewards Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 992947458,
            "mode": "list",
            "cachedResultName": "Budtenders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=992947458"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Budtender_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Budtender_ID', ``, 'string') }}",
              "First_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name__using_to_match_', ``, 'string') }}",
              "Last_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}",
              "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
              "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
              "Dispensary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Dispensary', ``, 'string') }}",
              "Total_Sales_Attributed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Sales_Attributed', ``, 'string') }}",
              "Performance_Tier": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Performance_Tier', ``, 'string') }}",
              "Hire_Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hire_Date', ``, 'string') }}"
            },
            "matchingColumns": [
              "First_Name"
            ],
            "schema": [
              {
                "id": "Budtender_ID",
                "displayName": "Budtender_ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "First_Name",
                "displayName": "First_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Last_Name",
                "displayName": "Last_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Dispensary",
                "displayName": "Dispensary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Total_Sales_Attributed",
                "displayName": "Total_Sales_Attributed",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Performance_Tier",
                "displayName": "Performance_Tier",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Hire_Date",
                "displayName": "Hire_Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          280,
          420
        ],
        "id": "9534343b-34ea-4b1e-8e92-cd00d2f26fc4",
        "name": "Update Budtender Sales",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Create new budtender in Budtenders sheet. Use this ONLY when Search Budtender tool finds no existing budtender. Generate unique Budtender_ID, professional email, and set Performance_Tier to 'New'.",
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
            "mode": "list",
            "cachedResultName": "Mota Rewards Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 992947458,
            "mode": "list",
            "cachedResultName": "Budtenders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=992947458"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Budtender_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Budtender_ID', ``, 'string') }}",
              "First_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name', ``, 'string') }}",
              "Last_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}",
              "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
              "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
              "Dispensary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Dispensary', ``, 'string') }}",
              "Total_Sales_Attributed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Sales_Attributed', ``, 'string') }}",
              "Performance_Tier": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Performance_Tier', ``, 'string') }}",
              "Hire_Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hire_Date', ``, 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Budtender_ID",
                "displayName": "Budtender_ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "First_Name",
                "displayName": "First_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last_Name",
                "displayName": "Last_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Dispensary",
                "displayName": "Dispensary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Total_Sales_Attributed",
                "displayName": "Total_Sales_Attributed",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Performance_Tier",
                "displayName": "Performance_Tier",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Hire_Date",
                "displayName": "Hire_Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          460,
          420
        ],
        "id": "f2ce589f-553c-4c0e-a043-9ccda6c92cc3",
        "name": "Create New Budtender",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -280,
          400
        ],
        "id": "9772a3b9-23ab-4cfa-86bb-d72718e7af8d",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "documentId": {
            "__rl": true,
            "value": "1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4",
            "mode": "list",
            "cachedResultName": "Customer Rewards ",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1735141678,
            "mode": "list",
            "cachedResultName": "Form responses",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4/edit#gid=1735141678"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTrigger",
        "typeVersion": 1,
        "position": [
          -980,
          60
        ],
        "id": "68333bc2-af8b-4a7b-9aef-47a57f8ef9cd",
        "name": "Google Sheets Trigger",
        "credentials": {
          "googleSheetsTriggerOAuth2Api": {
            "id": "0Qkts3KNsqNFs46d",
            "name": "Google Sheets Trigger account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2921f03b-879f-4796-823b-ca7a58fb52bb",
                "name": "sessionId",
                "value": "={{ $json['Submission ID'] }}",
                "type": "string"
              },
              {
                "id": "fb303654-f33f-4a2f-9766-a1556d9011bf",
                "name": "chatInput",
                "value": "={{ $json['Name - First Name'] }}{{ $json['Name - Last Name'] }}{{ $json['Phone Number'] }}{{ $json['File Upload'] }}{{ $json.Email }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -700,
          360
        ],
        "id": "04dc879e-4d96-4a0d-9439-b8e7c3d73432",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2921f03b-879f-4796-823b-ca7a58fb52bb",
                "name": "sessionId",
                "value": "={{ $json['Submission ID'] }}",
                "type": "string"
              },
              {
                "id": "fb303654-f33f-4a2f-9766-a1556d9011bf",
                "name": "chatInput",
                "value": "=this is an input from a form for a brand along with this will be customer information, a file upload with a link that contains an image, get thiss image and give it to the vision model for receipt processing\n",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -720,
          80
        ],
        "id": "413ffd8a-ed24-467a-a3dc-81b8b0b76ea9",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "requestMethod": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "jsonBody": "{\n  \"model\": \"anthropic/claude-3-5-haiku\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract all text from this receipt image in a structured format: Store info, Date, Customer info, Budtender, Products with brands and prices, Totals. Be accurate.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{$json[\\\"File Upload\\\"]}}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 1024\n}",
          "options": {},
          "headerParametersUi": {
            "parameter": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer {{$credentials.openRouterApi.apiKey}}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -520,
          80
        ],
        "id": "ocr_http_id",
        "name": "OCR Receipt",
        "credentials": {
          "openRouterApi": {
            "id": "daclOezIY0qSdW4Z",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "keepOnlySet": false,
          "assignments": {
            "assignments": [
              {
                "id": "new_id_for_set",
                "name": "chatInput",
                "value": "{{$json.choices[0].message.content}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -300,
          80
        ],
        "id": "set_ocr_id",
        "name": "Set OCR Text"
      }
    ],
    "pinData": {},
    "connections": {
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Gmail": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Search Customer": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Update Customer Points": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Create New Customer": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Search Budtender": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Update Budtender Sales": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Create New Budtender": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          []
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "OCR Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OCR Receipt": {
        "main": [
          [
            {
              "node": "Set OCR Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set OCR Text": {
        "main": [
          [
            {
              "node": "Rex AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "e904bc3f-1c29-4afe-a57f-b905cd7fa9df",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
    },
    "id": "O0qPvrNNdE7CIAY0",
    "tags": []
  }